<div class="total-wrapper">
	<header>
		<div class="container">
			<div class="row flex-items-md-middle">
				<div class="col-sm-10 offet-sm-1 col-md-3">
					<div class="img-wrap logo">
						<img src="<%= asset_path('rs-logo.png') %>" alt="Rap Scraps Logo">
					</div>
				</div>
				<nav class="col-sm-1 col-md-9">
					<a href="#" class="info-trigger"><i class="fa fa-info"></i></a>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row flex-items-md-middle flex-items-md-between">
				<div class="flex-md scraps-date">
					<%= @scraps[0][1] %>
				</div>
				<div class="flex-md row flex-items-md-middle scraps-navigation">
					<!-- Arrows injected from slider.js -->
					<div class="flex-md current-scrap"><span class="current-scrap-number" >1</span> / <span><%= @scraps.length %></span></div>
					<!-- Arrows injected from slider.js -->
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="scraps-list">
						<% @scraps.each do |scrap| %>
								<div class="scraps-single">
									<%= scrap[0] %>
									<span class="tweet-date">
										<%= scrap[1] %>
									</span>
								</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row flex-items-md-middle flex-items-md-between">
				<ul class="scraps-social">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
				</ul>
			</div>
			<div class="row scraps-instructions">
				<p>Use the controls above to view more.</p>
			</div>
		</div>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<p><a href="#">Jose De La Vega</a> and <a href="#">Josh Delgado</a></p>
			</div>
		</div>
	</footer>
</div>
